<h1>Pages#answer</h1>
<div id="block">
  <p id="question"><%= @question %> <br>
  - You</p>
  <br>
  <p id="answer">"<%= @answer %>"<br>
  - Your coach</p>
</div>
<%= link_to "Ask a new question here", "/ask" %>
